## Week_02
### chapter2 Variables

 - int, str, float, bool

In [56]:
a=10
type(a)

int

In [57]:
# int -> str
str(a)

'10'

In [58]:
# int -> float
float(a)

10.0

In [59]:
# int -> bool
bool(10)

True

In [60]:
# float -> int : 10.6 => 정수형 변환 시 소수점 이하 값 버린다.
int (10.9)

10

In [61]:
x = 4.6
y = 7.9

print(int(x+y)) #11.xx
print(int(x)+int(y)) # 4+7

12
11

In [66]:
# str -> int
p = '88.3'
int(p)

ValueError: ignored

In [67]:
# str -> int
p = '88.3'
#int(p)로 할 경우 타입이 맞지 않아 오류가 나므로 타입에 맞춰 변형해야 함
float(p)

88.3

프린트의 기능

In [68]:
print('orange', 'apple', 'tomato') # default : 띄어쓰기, 줄바꾸기
print("the next line")

orange apple tomato
the next line

In [69]:
orange = 'orange'
apple = 'apple'
tomato = 'tomato'

#1.
print(orange + apple + tomato) # + 연결 가능하지만 원소들간의 공백 사라짐
print(orange, apple, tomato, sep=' ', end='\n') # default
print(orange, apple, tomato, sep='/', end='\n\n')# 빈공간에 / 삽입, # 줄 두 번 바꿈
print('EOL')

orangeappletomato
orange apple tomato
orange/apple/tomato

EOL

In [70]:
# 라인이 짧을 때 ; 사용하여 한 줄로 만들 수 있음

orange = 'orange' ; apple = 'apple'; tomato = 'tomato'

### intput()
- console에서 사용자에게 값을 입력 받는 함수
- 입출력 관련된
- 입력 받는 값의 타일은 문자열(str)
- 입력 받은 값을 변수에 담아서 사용한다

In [71]:
input("What's your name?")

What's your name?kim

'kim'

In [72]:
#1.바로 input
name = input("What's your name?")

What's your name?dong

In [73]:
name

'dong'

In [74]:
#2.print 후 input
print ("What's your name?")
name = input()

What's your name?
hyeon

In [75]:
name

'hyeon'

input을 str이 아닌 다른 타입으로 사용하고 싶을 때에는 형 변환을 미리 해준다.

In [76]:
age = input("How old are you?")

How old are you?20

In [77]:
type(age)

str

In [78]:
age -1 # str 타입이라 연산이 안 됨

TypeError: ignored

In [79]:
age = int(input("How old are you?"))

How old are you?20

In [80]:
age -1 # int 형 변환 후 연산이 가능해짐

19

print

In [81]:
#1.
print('당신이 태어난 해는', 2022 - age +1)

당신이 태어난 해는 2003

In [82]:
#2.
print(f'당신이 태어난 해는 {2022 - age +1}년입니다!') # print (f'{<variables>}')
#1의 방식으로는  년입니다 를 넣으려면 '년입니다' 를 한 번 더 넣어야 함
print('당신이 태어난 해는', 2022 - age +1,'년입니다') # 공백 생김

당신이 태어난 해는 2003년입니다!
당신이 태어난 해는 2003 년입니다

### Quiz 1
  - 택배 정보를 입력 받고 무게에 따른 값 산정하기
  - 수취인 성명:
  - 수취인 주소:
  - 배송비 : 3000원
  - 물건 비용 : <계산된 값>원
  - 총 합계 : <게산된 값>원
-물건 비용은 무게 (g)*5
-입력 값 = 이름, 주소, 무게

In [64]:
name = input("수취인 성명: ")
adress = input("수취인 주소: ")
fee = 3000
weight = float(input("물건 무게(g): "))
product_fee = weight*5
total_fee = product_fee + fee

수취인 성명: 김
수취인 주소: 이문
물건 무게(g): 50.5

In [65]:
print(f'수취인 성명: {name}')
print(f'수취인 주소: {adress}')
print(f'배송비 : {fee}')
print(f'물건 비용 : {product_fee}원')
print(f'총 합계 : {total_fee}원')

수취인 성명: 김
수취인 주소: 이문
배송비 : 3000
물건 비용 : 252.5원
총 합계 : 3252.5원

## Chapter2 Number
### boolean
- True / False
- False인 값
- IF문(조건식):만약 어떤 값이 True라면...

In [83]:
bool(0)

False

In [84]:
bool(1)

True

In [86]:
bool('')

False

### Integer
- 분수나 소수가 아닌 정수
- 음수는 '-' 기호를 붙인다 : i, e., -50
- default = 양수
- 숫자 앞에는 0을 쓰지 못한다. i,e., 09
  - 0bxx (10진수가 아닌 수)
- 숫자 사이에 쉼표를 쓰면 오류 : 100,000 (x) -> 100_000
  ==> 숫자 사이의 언더바는 인식하지 않는다는 의미

In [87]:
a = -50
b = 49
a / b

-1.0204081632653061

### 연산자|operator
- +, -, *, /
- 피연산자|operand : 1,2,...
- 수식|expression

####연산
- x + y
- x - y
- x * y
- x / y
- x ** y  거듭제곱|exponetial

####나눗셈  주의 사항
- division by zero 항시 유의

- x / y   결과물
- x // y   몫
- x % y   나머지

In [ ]:
# division by zero 항시 유의

In [89]:
x=9
y=2
divmod(x, y) # (몫, 나머지)

(4, 1)

#### 복합 대입 연산자 |compound assignment operator

In [90]:
x = 5
x - 3
print (x) # x - 3을 해도 x 는 변하지 않음

5

In [91]:
x= x - 3
print(x)

#1. x -3 계산
#2. temp = x - 3(임시변수에 담는다)
#3. x= temp

## 세 과정을 거침

2

In [92]:
x -=3
print(x) # 기존의 x 값 2 ->  2 - 3

-1

In [94]:
x += 3
x -= 3
x *= 3
x /= 3

### Quiz 1.
- 반지름을 입력 받아서 언의 면적을 구하기
- 면적 = pi * r제곱

In [96]:
r = float(input ('원의 반지름 : '))
pi = 3.14
print(f'면적 : {pi * r**2}')

원의 반지름 : 5
면적 : 78.5

### Quiz 2.
 - 숫자를 입력 받고 3의 배수인지 확인하기

In [98]:
number = int(input('숫자 입력 :'))
bool(number%3==0)

숫자 입력 :3

True

### 지수 표현
- 예: '1.0e-4'
- e의 앞 부분은 소수, 정수 둘다 됨
- 뒷 부분은 정수여야 함
- 뒷 부분이 음수면 소수점 자릿수를 의미함
- e.E 둘 다 사용 가능

In [99]:
1.0e-4

0.0001

In [100]:
# 0.0004005 => 지수로 표현하기
4005.0e-7

0.0004005

### IF 조건문
#### 코드 짜는 팁
- 주석 달기
  - #, hash, sharp ..
  - #, 시작 지점부터 라인 끝까지가 주석 처리됨. 라인이 바뀌면 코드로 인식
  -""" """ : 긴 주석
  - 문자열 안에 있는 sharp는 부호로 인식한다.
  - 이유?? 코드에 대한 설명은 최대한 하지 않는다. 의도를 나타나기 위해, 오류가 있다거나, ...

- 라인 유지하기
  - 들여쓰기 (default space 4개, 탭을 이용해서)
  - 논리 구조를 나타내기 때문에 굉장히 중요함.
  - 한 라인에 88자 정도 (빽슬래시로 라인을 끊어준다 (\))

In [102]:
a = 3 # 주석입니다.
"""
주석1
주석2
주석3

"""
print(a)

3

In [104]:
print('hey,ther #') # #이 문자열 안에 있어 부호로 인식

hey,ther #

### if
if <조건식>:

   <실행할 코드>

In [105]:
if 3 == 1:
    print("두 수는 같다") # 같지 않아서 안 나옴

In [106]:
if 3 != 1:
    print("두 수는 같지 않다") # 같지 않아서 나옴

두 수는 같지 않다

####if-else

if<조건식>:
  
   <실행할 코드>

else:
   
 <실행할 코드2>

In [108]:
if 3 != 1:
    print("두 수는 같지 않다")
else:
    print("두 수가 같다")

두 수는 같지 않다

####if-elif-else
if <조건식1>:

  <실행할 코드1>
  
elif <조건식2>:

  <실행할 코드2>

else: 

   <실행할 코드3>

In [109]:
a = 4

if a < 3:
    print("3보다 작다")
elif a == 3:
    print("3이다")
else:
    print("3보다 크다")

3보다 크다

In [111]:
# elif를 쓰지 않고 if 만 쓸 경우

if a < 3:
    print("3보다 작다")
if a == 3:
    print("3이다")
if a > 4:
    print("3보다 크다") # 셋다 별개의 문제 위에 거가 맞든 틀리든 세개 다 함

### 비교연산자
 - x < y
 - x > y
 - x >= y
 - x <= y
 - x == y (값이)
 - x != y
 - x is y (값, 메모리주소)
 - x is not y

### 퀴즈
- 1.시험 점수를 입력 받고, 80점 이상이면 True, 아니면 False 변형하기
- 2.시험 점수를 입력 받고, 95이상 A+, 90이상 A, 85이상 B+, 나머지 F 로 출력하세요

In [112]:
score = int(input("시험 점수 :"))

if score >= 80:
    print("True")
else:
    print("False")

if score >= 95 :
    print("A+")
elif score >=90 :
    print("A")
elif score >=85 :
    print("B+")
else:
    print("F")

시험 점수 :75
False
F