#week_09

### Dictionary
- 영어사전이라고 생각하면, 단어: 뜻
- 키: 값
  - 키 값은 고유해야 한다.
- 순서가 없음 => 오프셋 없음
- 가변 객체 (수정, 추가, 삭제 가능)
- 타입: dict,dict()
- 생성: {키1: 밸류1, k2: v2, ...} 중괄호 사용
- value에는 리스트, 튜플, 딕셔너리도 들어갈 수 있음.

In [ ]:
a = [1,2,3]
a[0] #이런 순서가 없음

1

In [ ]:
empty = dict()
empty = {}
empty

{}

In [ ]:
a = [1,2,3]
a = {} #dictionary

In [ ]:
customer = {"first': 'wile', 'middle':'E','last:'coyote'"}
customer

{"first': 'wile', 'middle':'E','last:'coyote'"}

In [ ]:
customer = dict(first='wile', middle='F', last='coyote')
customer

{'first': 'wile', 'last': 'coyote', 'middle': 'F'}

In [3]:
# 출석부 딕셔너리를 만들기
"""
이름, 학번, 학과
제임스 202201 경영
줄리엣 202202 아랍어
로버트 202203 ELLT과
"""
student_dic = {}

In [2]:
student_dic = {202201 :['제임스, 경제학과'], 202202 : ['줄리엣, 아랍어'], 202203 : ['로버트, ELLT']}
student_dic

{202201: ['제임스, 경제학과'], 202202: ['줄리엣, 아랍어'], 202203: ['로버트, ELLT']}

In [ ]:
#dict()
ex1 = [[1,2], [3,4], [5,6]]
dict(ex1)

{1: 2, 3: 4, 5: 6}

In [ ]:
ex2 = [(1,2), (3,4), (5,6)]
dict(ex2)

{1: 2, 3: 4, 5: 6}

In [ ]:
ex3 = ['ab', 'bc', 'cd']
dict(ex3)

{'a': 'b', 'b': 'c', 'c': 'd'}

In [ ]:
ex4 = ['abdd', 'bcdd', 'cdddd']
# dict(ex4) 이건 안됨

#### 항목조회 & 변경
- 키로 항목을 찾아 값을 할당한다.
- 이미 존재하는 키이면 값을 변경한다.
- 키가 없으면 새로 생성한다.

In [ ]:
pythons = {
      'Chapman': 'Graham',
      'Cleese': 'John',
      'Idle': 'Eric',
      'Jones': 'Terry',
      'Palin': 'Michael'
}

In [ ]:
#idle
pythons['Idle']

'Eric'

In [ ]:
pythons[0] #index 안 됨

KeyError: ignored

In [ ]:
pythons['Idle'] = 'Erica' #있으면 변경 없으면 추가
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Erica',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [ ]:
pythons['Kim']='Laura'
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Erica',
 'Jones': 'Terry',
 'Kim': 'Laura',
 'Palin': 'Michael'}

In [ ]:
pytons['Lee'] #없으면 오류

NameError: ignored

In [ ]:
'Lee' in pythons

False

In [ ]:
pythons.get('Lee') # 없으면 None 리턴

In [ ]:
pythons.get('Kim',0)

'Laura'

In [ ]:
pythons.get('Choi',0)

0

#### keys(), values(), items()
- keys : key 반환
- values : value 반환
- items : 튜플 형식으로 key, value 반환

In [ ]:
list(pythons.keys()) # 리스트 사용하고 싶을경우 list 로 묶음

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Kim']

In [ ]:
pythons.values()

dict_values(['Graham', 'John', 'Erica', 'Terry', 'Michael', 'Laura'])

In [ ]:
pythons.items()

dict_items([('Chapman', 'Graham'), ('Cleese', 'John'), ('Idle', 'Erica'), ('Jones', 'Terry'), ('Palin', 'Michael'), ('Kim', 'Laura')])

In [ ]:
[x for x in pythons.items()]

[('Chapman', 'Graham'),
 ('Cleese', 'John'),
 ('Idle', 'Erica'),
 ('Jones', 'Terry'),
 ('Palin', 'Michael'),
 ('Kim', 'Laura')]

In [ ]:
animals = 'cat snake monkey ant spider'.split()
legs =4, 0 ,2, 4, 8

#for loop이용해서 animal: legs로 이뤄진 딕셔너리 만들기

In [ ]:
animal_dic = {}
for k, v in zip(animals, legs):
  animal_dic[k] = v
animal_dic

{'ant': 4, 'cat': 4, 'monkey': 2, 'snake': 0, 'spider': 8}

In [ ]:
#pythons에서 성: 이름=> 리스트컴프리헨션 이용해서 [(성 앞글자, 이름의 글자 수)]

[(k[0],len(v)) for k,v in pythons.items()]

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('K', 5)]

값 수정, 삭제, 복제

In [ ]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Erica',
 'Jones': 'Terry',
 'Kim': 'Laura',
 'Palin': 'Michael'}

In [ ]:
others = {
    'Marx': 'Groucho',
    'Howward': 'Moe'
}

In [ ]:
pythons.update(others)

In [ ]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Howward': 'Moe',
 'Idle': 'Erica',
 'Jones': 'Terry',
 'Marx': 'Groucho',
 'Palin': 'Michael'}

In [ ]:
#삭제
del pythons['Palin']
pythons

KeyError: ignored

In [ ]:
pythons.pop('Marx',0) # Marx의 값 보여주고 삭제 , get과 비슷한 성질

0

In [ ]:
pythons

{}

In [ ]:
pythons.clear()# 초기화

In [ ]:
pythons={} # 초기화

In [ ]:
pythons

{}

In [ ]:
#copy
#1. 할당
#2. 얕은 복사
#3. 깊은 복사

In [ ]:
a = {1:2, 2:3, 3:4}
b = a
a[1] = 10
a, b #b도 바뀜

({1: 10, 2: 3, 3: 4}, {1: 10, 2: 3, 3: 4})

In [ ]:
b= a.copy()
a[1] = 100
a,b #b는 안 바뀜

({1: 100, 2: 3, 3: 4}, {1: 10, 2: 3, 3: 4})

In [ ]:
a= {1:[2, 2, 2,], 2: [1, 1, 1]}
b= a.copy()
a[1][0] = 100
a,b #b도 바뀜

({1: [100, 2, 2], 2: [1, 1, 1]}, {1: [100, 2, 2], 2: [1, 1, 1]})

In [ ]:
import copy
b = copy.deepcopy(a)
a[1][0] = 9
a,b

({1: [9, 2, 2], 2: [1, 1, 1]}, {1: [100, 2, 2], 2: [1, 1, 1]})

In [ ]:
#값 비교 크다 작다 x 같다 다르다 O
a != b

True

### ex
- 두 개 리스트를 만든다 : {한국어:영어}
- 명왕성: pluto 추가하기
- '성'으로 끝나지 않는 단어 삭제하기
    del sdict['태양'] => 하드코딩 안됨
- sorted i) key ii) eng

In [ ]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()

In [ ]:
#1
solar_dic = {}
for k, v in zip(solar_kor, solar_eng):
  solar_dic[k] = v
solar_dic

{'금성': 'venus',
 '목성': 'jupiter',
 '수성': 'mercury',
 '지구': 'earth',
 '천왕성': 'uranus',
 '태양': 'sun',
 '토성': 'saturn',
 '해왕성': 'neptune',
 '화성': 'mars'}

In [ ]:
#2-1
solar_dic['명왕성'] = 'pluto'

In [ ]:
#2-2
other = {
    '명왕성': 'pluto'
}

In [ ]:
solar_dic.update(other)
solar_dic

{'금성': 'venus',
 '명와성': 'pluto',
 '목성': 'jupiter',
 '수성': 'mercury',
 '지구': 'earth',
 '천왕성': 'uranus',
 '태양': 'sun',
 '토성': 'saturn',
 '해왕성': 'neptune',
 '화성': 'mars'}

In [ ]:
#3
{k:v  for k,v in solar_dic.items() if k.endswith('성')}

{'금성': 'venus',
 '명와성': 'pluto',
 '명왕성': 'pluto',
 '목성': 'jupiter',
 '수성': 'mercury',
 '천왕성': 'uranus',
 '토성': 'saturn',
 '해왕성': 'neptune',
 '화성': 'mars'}

In [ ]:
#4
sorted(solar_dic.items(), key=lambda x: x[0])

[('금성', 'venus'),
 ('명와성', 'pluto'),
 ('명왕성', 'pluto'),
 ('목성', 'jupiter'),
 ('수성', 'mercury'),
 ('지구', 'earth'),
 ('천왕성', 'uranus'),
 ('태양', 'sun'),
 ('토성', 'saturn'),
 ('해왕성', 'neptune'),
 ('화성', 'mars')]

In [ ]:
def function(s):
  return s[1]

In [ ]:
accusation = {'room' : 'ballroom', 'weapon': 'lead pipe', 'person': 'Col.Mustard'}

for k,v in accusation.items():
    print(f'{k} has the contents {v}')

room has the contents ballroom
weapon has the contents lead pipe
person has the contents Col.Mustard

In [ ]:
letter = 'apple'
#(a:1, p:2, ...)
{ch: letter.count(ch) for ch in set(letter)}

{'a': 1, 'e': 1, 'l': 1, 'p': 2}

In [ ]:
vowels = 'aeiou'
word = 'onomatopoeia'

# 주어진 단어의 모음 세기
# a:1, e:3, ...
# vowels, word 각각 기준 잡아서 dic compre 이용해서 만들기

In [ ]:
op1 = {v: word.count(v) for v in vowels}
op1

{'a': 2, 'e': 1, 'i': 1, 'o': 4, 'u': 0}

## Set

- 딕셔너리의 키만 모아 놓음 => 중복 없음:
- 수학의 집합 개념 => 교집합, 차집합, ...
- 데이터 자루, 순서 없고, 인덱싱 없고

In [7]:
empty = set()
empty1 = {} #dict
empty, empty1

(set(), {})

In [6]:
a = {1,2,3}
type(a) #key 와 value 가 없으므로 set

set

In [4]:
b= set([1, 2, 3, 3, 3, 3])
b

{1, 2, 3}

In [8]:
# 추가하기
a.add(4)
a

{1, 2, 3, 4}

In [9]:
#삭제
a.remove(4)
a

{1, 2, 3}

In [10]:
a.discard(3)
a

{1, 2}

In [11]:
drinks = {
    'martini': {'vodka', 'vermouth'},
    'black russian': {'vodka', 'kahlua'},
    'white russian': {'vodka', 'kahlua', 'vodka'},
    'mahattan': {'rye', 'vermouth', 'bitters'},
    'screwdriver': {'orange juice', 'vodka'}
}

# vodka가 있는 키 골라내기 (출력)
for k, v in drinks.items():
    if 'vodka' in v:
        print(k)

#2. 보드카는 있늗네 크림이나 버무스가 있으면 프리트하지 않기
{k for k, v in drinks.items() if 'vodka' in v and 'cream' not in v or 'vermouth' not in v}

martini
black russian
white russian
screwdriver

{'black russian', 'martini', 'screwdriver', 'white russian'}

In [12]:
a = {1, 2, 3}
b = {2, 3, 4}

# 교집합: intersection
a.intersection(b) # a & b

# 합집합: uinon
a.union(b) # a | b

# 차집합: difference
a.difference(b) # a - b
b - a

{4}

In [13]:
# comprehension
{s for s in a}

{1, 2, 3}

In [14]:
# frozenset
fs = frozenset([1, 2, 3])
fs

frozenset({1, 2, 3})